@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

img {
    width: 300px;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

.footer {
    margin-top: 4rem;
    text-align: center;

}